

.inline-block {
    display: flex;
    vertical-align: top;
    background: rgb (12, 12, 12, 0.8);
    padding: 20px;
    align-items: vertical;

}

.logo {
    width:108px;
    height: 109px;
    padding:1%;
    text-align: center;
    background-color: black;
}

nav {
width:73%;
padding:1%;
}

.navigation {
    background-color: rgba (12, 12, 12, 0.8);
    color: black;

}

ul {
    width:50%;
    margin-left: auto;
    padding: 50px;
}

.heroImg {
    height: 600px;
    padding:25px;

}

.content {
    width: 500px;
    margin:0 auto;

}

footer {
    background-color:blue;
    display:inline-block;
    vertical-align: top;
    margin: 0 auto;

}

.contact {
    display:inline-block;
    vertical-align: top;
    padding: 50px
}


